# Byte-compiled / optimized / DLL files
__pycache__/

# IDEs and editors
/.idea

# Jupyter Notebook
.ipynb_checkpoints

# Project Output
#test_images_output/
#test_images_inter_steps/
#test_videos_output/